<h1>Listing charmaps</h1>

<table>
  <tr>
    <th>Letter</th>
    <th>Keystroke</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @charmaps.each do |charmap| %>
  <tr>
    <td><%= charmap.letter %></td>
    <td><%= charmap.keystroke %></td>
    <td><%= link_to 'Show', charmap %></td>
    <td><%= link_to 'Edit', edit_charmap_path(charmap) %></td>
    <td><%= link_to 'Destroy', charmap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Charmap', new_charmap_path %>
