<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Archive:</b>
  <%= @project.archive %>
</p>


<% charactercounts = get_project_character_counts @project.id %>
<% shiftcounts = get_project_shift_counts @project.id %>
<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "character_count_chart",
        type: "column"
      },
      title: {
        text: "character counts by finger"
      },
      xAxis: {
        categories: [
          <%= charactercounts.collect {|cc| "'" + cc[0] + "'" }.join(",").html_safe %>
        ]
      },
      yAxis: {
        title: {
          text: "count"
        }
      },
      series: [{
        name: "count",
        data: [
          <%= charactercounts.collect {|cc| cc[1] }.join(",").html_safe %>
           ]
      } , {
        name: "shiftcount", 
        data: [
          <%= shiftcounts.collect {|cc| cc[1] }.join(",").html_safe %>
         ]
      }]
    });
  });
</script>

<div id="character_count_chart" style="width:560px; height:300px;"></div>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
