<h1>Listing shiftmaps</h1>

<table>
  <tr>
    <th>Letter</th>
    <th>Keystroke</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shiftmaps.each do |shiftmap| %>
  <tr>
    <td><%= shiftmap.letter %></td>
    <td><%= shiftmap.keystroke %></td>
    <td><%= link_to 'Show', shiftmap %></td>
    <td><%= link_to 'Edit', edit_shiftmap_path(shiftmap) %></td>
    <td><%= link_to 'Destroy', shiftmap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shiftmap', new_shiftmap_path %>
